<ul class="cart-navigation">
  <% @states.each_with_index do |state, index| %>
    <li data-state="<%= state %>">
      <% if index < @states.index(@cart.state) %>
        <%= link_to t("glysellin.cart.states.#{ state }"), set_cart_state_path(state) %>
      <% else %>
        <%= t("glysellin.cart.states.#{ state }") %>
      <% end %>
    </li>
  <% end %>
</ul>