<h2><%= t('glysellin.labels.cart.your_cart') %></h2>

<% if @cart.empty? %>
  <%= t('glysellin.labels.cart.no_products_in_cart') %>
  <%= link_to t('glysellin.labels.cart.back_to_shop'), shop_path %>
<% else %>
  <!-- Cart products list -->
  <%= render :partial => 'products', :locals => { :cart => @cart, :editable => true } %>
<% end %>