<% form ||= nil # if no form is passed to the partial %>
<div id="payment_method_choice">
	<% if form %>
		<% form.fields_for :payment_method do |fpm| %>
			<% Glysellin::PaymentMethod.find_each do |pm| %>
				<%= render :partial => 'payment_method_radio', :locals => { :slug => pm.slug, :form => fpm } %>
			<% end %>
		<% end %>
	<% else %>
		<% Glysellin::PaymentMethod.find_each do |pm| %>
			<%= render :partial => "glysellin/payment_methods/#{pm.slug}", :locals => { :order => order } %>
		<% end %>
	<% end %>
</div>
