<h2><%= t('glysellin.labels.payment_responses.successfully_paid') %></h2>

<%= t('glysellin.labels.payment_responses.successfull_payment_text') %>
<br />
<br />
<%= link_to t('glysellin.labels.misc.back_to_homepage'), root_path, :class => 'btn' %>